server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  redis:
    host: localhost
    port: 6379
  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  # sql:
  #   init:
  #     schema-locations:
  #     - classpath:db/table.sql
  #     data-locations:
  #     - classpath:db/data.sql
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: create-drop
